{{#each trip_info}}
  <a
    class="h-44 basis-full md:basis-0 md:grow flex justify-center items-center bg-secondary rounded hover:cursor-pointer"
    href="/trips/{{id}}"
    alt="{{name}}"
  >
    <h2 class="text-2xl font-bold">{{name}}</h2>
  </a>
{{/each}}