<div class="h-24 mt-0 bg-white">
  <nav class="flex justify-between p-4">
    <a href="/dashboard">
      <img class="w-48" src="./images/logo.svg" alt="" />
    </a>
    <ul class="menu-items mobile-hide text-gray-800">
      <li><a href="/dashboard">Dashboard</a></li>
      <li onclick="logout()">Logout</li>
    </ul>
    <div class="hamburger" onclick="navToggle()">
      <i class="fa fa-bars hamburger-icon"></i>
      <i class="fa fa-close close-icon mobile-hide"></i>
    </div>
  </nav>
</div>