<section class="heading flex justify-between items-center mb-4">
  <h1 class="text-2xl font-bold">Pictures</h1>
  <button class="add-btn py-1 px-2 rounded font-bold bg-gray-300 hover:bg-green-300">Add picture</button>
</section>
<section class="images flex gap-4 flex-wrap">
  {{#each pictures}}
  {{> image-card}}
  {{/each}}
</section>
<section class="modal-container modal-container flex justify-center items-center absolute top-0 left-0 w-full h-full bg-black/25 hidden">
  <section class="modal flex flex-col p-4 bg-[#CBECFF] rounded w-10/12 max-w-3xl">
    <section id="image-upload" class="">
      <!-- upload widget inserted via javascript -->
    </section>
    <button class="close-btn py-1 px-2 rounded font-bold bg-gray-300 hover:bg-red-500 mt-4">Close</button>
  </section>
</section>

<script src="https://releases.transloadit.com/uppy/v2.8.0/uppy.min.js"></script>
<script src="/javascripts/gallery.js"></script>