<section id="home">

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white pt-4 pb-8 px-4 shadow sm:rounded-lg sm:px-10">
      <div class="flex justify-center">
        <lottie-player
          src="https://assets1.lottiefiles.com/packages/lf20_wfqjgd2l.json"
          background="transparent"
          speed="1"
          style="width: 120px; height: 120px;"
          loop
          autoplay
        ></lottie-player>
      </div>

      <div>
        <div class="py-8">
          <nav id="tabs" class="flex justify-center" aria-label="Tabs">
            <!-- Current: "bg-indigo-100 text-indigo-700", Default: "text-gray-500 hover:text-gray-700" -->
            <a
              id="sign-in-tab"
              href="#signin"
              class="px-3 py-2 font-medium text-sm rounded-md"
            > Sign in </a>

            <a
              id="sign-up-tab"
              href="#signup"
              class="px-3 py-2 font-medium text-sm rounded-md"
            > Create account </a>
          </nav>
        </div>
      </div>

      {{! Signin form }}
      <form id="login-form" class="space-y-6">
        <div>
          <label for="login-id" class="block text-sm font-medium text-gray-700">
            Email address
          </label>
          <div class="mt-1">
            <input
              name="id"
              id="login-id"
              type="email"
              required
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-secondary focus:border-secondary sm:text-sm"
            />
          </div>
        </div>

        <div>
          <label
            for="login-password"
            class="block text-sm font-medium text-gray-700"
          >
            Password
          </label>
          <div class="mt-1">
            <input
              type="password"
              name="password"
              id="login-password"
              required
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-secondary focus:border-secondary sm:text-sm"
            />
          </div>
        </div>

        <div id="login-error" class="hidden">Credentials not valid, please check
          your entry</div>

        <div>
          <button
            type="submit"
            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-gray-800 bg-primary hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-tertiary"
          >Sign in</button>
        </div>
      </form>

      {{! Create account form }}
      <form id="signup-form" class="space-y-6">
        <div>
          <label
            for="signup-username"
            class="block text-sm font-medium text-gray-700"
          >
            Username
          </label>
          <div class="mt-1">
            <input
              type="username"
              name="username"
              id="signup-username"
              required
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-secondary focus:border-secondary sm:text-sm"
            />
          </div>
          <div id="username-error" class="hidden"></div>
        </div>

        <div>
          <label
            for="signup-email"
            class="block text-sm font-medium text-gray-700"
          >
            Email address
          </label>
          <div class="mt-1">
            <input
              type="email"
              name="email"
              id="signup-email"
              required
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-secondary focus:border-secondary sm:text-sm"
            />
          </div>
          <div id="email-error" class="hidden"></div>
        </div>

        <div>
          <label
            for="signup-password"
            class="block text-sm font-medium text-gray-700"
          >
            Password
          </label>
          <div class="mt-1">
            <input
              type="password"
              name="password"
              id="signup-password"
              required
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-secondary focus:border-secondary sm:text-sm"
            />
          </div>
          <div id="password-error" class="hidden"></div>
        </div>

        <div>
          <button
            type="submit"
            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-gray-800 bg-primary hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-tertiary"
          >Sign up</button>
        </div>
      </form>

    </div>
  </div>
</section>

<script src="/javascripts/login.js"></script>